@font-face {
  font-family: "TerraIconFont";
  src: url("/fonts/terra-icons.eot");
  src: url("/fonts/terra-icons.eot") format("embedded-opentype"),
    url("/fonts/terra-icons.woff2") format("woff2"),
    url("/fonts/terra-icons.woff") format("woff"),
    url("/fonts/terra-icons.ttf") format("truetype"),
    url("/fonts/terra-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin icon-base() {
  display: inline-block;
  font: normal normal normal 1em/1 "TerraIconFont";
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------
      base class definition
  -------------------------*/
.ter-icon {
  @include icon-base();
}

/*------------------------
	icons
-------------------------*/
.ter-icon--enclosed-arrow-down-dark-16px::before {
  content: "\ea01";
}

.ter-icon--enclosed-arrow-down-dark-24px::before {
  content: "\ea02";
}

.ter-icon--enclosed-arrow-down-dark-32px::before {
  content: "\ea03";
}

.ter-icon--enclosed-arrow-down-dark-48px::before {
  content: "\ea04";
}

.ter-icon--enclosed-arrow-left-dark-16px::before {
  content: "\ea05";
}

.ter-icon--enclosed-arrow-left-dark-24px::before {
  content: "\ea06";
}

.ter-icon--enclosed-arrow-left-dark-32px::before {
  content: "\ea07";
}

.ter-icon--enclosed-arrow-left-dark-48px::before {
  content: "\ea08";
}

.ter-icon--enclosed-arrow-right-dark-16px::before {
  content: "\ea09";
}

.ter-icon--enclosed-arrow-right-dark-24::before {
  content: "\ea0a";
}

.ter-icon--enclosed-arrow-right-dark-32px::before {
  content: "\ea0b";
}

.ter-icon--enclosed-arrow-right-dark-48px::before {
  content: "\ea0c";
}

.ter-icon--enclosed-arrow-up-dark-16px::before {
  content: "\ea0d";
}

.ter-icon--enclosed-arrow-up-dark-24px::before {
  content: "\ea0e";
}

.ter-icon--enclosed-arrow-up-dark-32px::before {
  content: "\ea0f";
}

.ter-icon--enclosed-arrow-up-dark-48px::before {
  content: "\ea10";
}

.ter-icon--enclosed-caret-down-dark-16px::before {
  content: "\ea11";
}

.ter-icon--enclosed-caret-down-dark-24px::before {
  content: "\ea12";
}

.ter-icon--enclosed-caret-down-dark-32px::before {
  content: "\ea13";
}

.ter-icon--enclosed-caret-down-dark-48px::before {
  content: "\ea14";
}

.ter-icon--enclosed-caret-left-dark-16px::before {
  content: "\ea15";
}

.ter-icon--enclosed-caret-left-dark-24px::before {
  content: "\ea16";
}

.ter-icon--enclosed-caret-left-dark-32px::before {
  content: "\ea17";
}

.ter-icon--enclosed-caret-left-dark-48px::before {
  content: "\ea18";
}

.ter-icon--enclosed-caret-right-dark-16px::before {
  content: "\ea19";
}

.ter-icon--enclosed-caret-right-dark-24px::before {
  content: "\ea1a";
}

.ter-icon--enclosed-caret-right-dark-32px::before {
  content: "\ea1b";
}

.ter-icon--enclosed-caret-right-dark-48px::before {
  content: "\ea1c";
}

.ter-icon--enclosed-caret-up-dark-16px::before {
  content: "\ea1d";
}

.ter-icon--enclosed-caret-up-dark-24px::before {
  content: "\ea1e";
}

.ter-icon--enclosed-caret-up-dark-32px::before {
  content: "\ea1f";
}

.ter-icon--enclosed-caret-up-dark-48px::before {
  content: "\ea20";
}

.ter-icon--enclosed-check-dark-16px::before {
  content: "\ea21";
}

.ter-icon--enclosed-check-dark-24px::before {
  content: "\ea22";
}

.ter-icon--enclosed-check-dark-32px::before {
  content: "\ea23";
}

.ter-icon--enclosed-check-dark-48px::before {
  content: "\ea24";
}

.ter-icon--enclosed-x-dark-16px::before {
  content: "\ea25";
}

.ter-icon--enclosed-x-dark-24px::before {
  content: "\ea26";
}

.ter-icon--enclosed-x-dark-32px::before {
  content: "\ea27";
}

.ter-icon--enclosed-x-dark-48px::before {
  content: "\ea28";
}

.ter-icon--info-dark-16px::before {
  content: "\ea29";
}

.ter-icon--info-dark-24px::before {
  content: "\ea2a";
}

.ter-icon--info-dark-32px::before {
  content: "\ea2b";
}

.ter-icon--info-dark-48px::before {
  content: "\ea2c";
}

.ter-icon--open-arrow-down-dark-16px::before {
  content: "\ea2d";
}

.ter-icon--open-arrow-down-dark-24px::before {
  content: "\ea2e";
}

.ter-icon--open-arrow-down-dark-32px::before {
  content: "\ea2f";
}

.ter-icon--open-arrow-down-dark-48px::before {
  content: "\ea30";
}

.ter-icon--open-arrow-left-dark-16px::before {
  content: "\ea31";
}

.ter-icon--open-arrow-left-dark-24px::before {
  content: "\ea32";
}

.ter-icon--open-arrow-left-dark-32px::before {
  content: "\ea33";
}

.ter-icon--open-arrow-left-dark-48px::before {
  content: "\ea34";
}

.ter-icon--open-arrow-right-dark-16px::before {
  content: "\ea35";
}

.ter-icon--open-arrow-right-dark-24px::before {
  content: "\ea36";
}

.ter-icon--open-arrow-right-dark-32px::before {
  content: "\ea37";
}

.ter-icon--open-arrow-right-dark-48px::before {
  content: "\ea38";
}

.ter-icon--open-arrow-up-dark-16px::before {
  content: "\ea39";
}

.ter-icon--open-arrow-up-dark-24px::before {
  content: "\ea3b";
}

.ter-icon--open-arrow-up-dark-32px::before {
  content: "\ea3a";
}

.ter-icon--open-arrow-up-dark-48px::before {
  content: "\ea3c";
}

.ter-icon--open-caret-down-dark-16px::before {
  content: "\ea3d";
}

.ter-icon--open-caret-down-dark-24px::before {
  content: "\ea3e";
}

.ter-icon--open-caret-down-dark-32px::before {
  content: "\ea3f";
}

.ter-icon--open-caret-down-dark-48px::before {
  content: "\ea40";
}

.ter-icon--open-caret-down-dark-8px::before {
  content: "\ea41";
}

.ter-icon--open-caret-left-dark-16px::before {
  content: "\ea42";
}

.ter-icon--open-caret-left-dark-24px::before {
  content: "\ea43";
}

.ter-icon--open-caret-left-dark-32px::before {
  content: "\ea44";
}

.ter-icon--open-caret-left-dark-48px::before {
  content: "\ea45";
}

.ter-icon--open-caret-left-dark-8px::before {
  content: "\ea46";
}

.ter-icon--open-caret-right-dark-16px::before {
  content: "\ea47";
}

.ter-icon--open-caret-right-dark-24px::before {
  content: "\ea48";
}

.ter-icon--open-caret-right-dark-32px::before {
  content: "\ea49";
}

.ter-icon--open-caret-right-dark-48px::before {
  content: "\ea4a";
}

.ter-icon--open-caret-right-dark-8px::before {
  content: "\ea4b";
}

.ter-icon--open-caret-up-dark-16px::before {
  content: "\ea4c";
}

.ter-icon--open-caret-up-dark-24px::before {
  content: "\ea4d";
}

.ter-icon--open-caret-up-dark-32px::before {
  content: "\ea4e";
}

.ter-icon--open-caret-up-dark-48px::before {
  content: "\ea4f";
}

.ter-icon--open-caret-up-dark-8px::before {
  content: "\ea50";
}

.ter-icon--open-check-dark-16px::before {
  content: "\ea51";
}

.ter-icon--open-check-dark-24px::before {
  content: "\ea52";
}

.ter-icon--open-check-dark-32px::before {
  content: "\ea53";
}

.ter-icon--open-check-dark-48px::before {
  content: "\ea54";
}

.ter-icon--open-x-dark-16px::before {
  content: "\ea55";
}

.ter-icon--open-x-dark-24px::before {
  content: "\ea56";
}

.ter-icon--open-x-dark-32px::before {
  content: "\ea57";
}

.ter-icon--open-x-dark-48px::before {
  content: "\ea58";
}

.ter-icon--refresh-dark-16px::before {
  content: "\ea59";
}

.ter-icon--refresh-dark-24px::before {
  content: "\ea5a";
}

.ter-icon--refresh-dark-32px::before {
  content: "\ea5b";
}

.ter-icon--refresh-dark-48px::before {
  content: "\ea5c";
}
