/*
 * Terra Design System: v.1.0.0
 * Content: _typography.scss
 */

// body type settings
body, html {
	font-family: $body-font-family;
	@include type-setting('base');
	font-weight: $body-font-weight;
}
// paragraph type setting
p {
	@include paragraph-type-setting;
}

// heading type setting
h1,
h2,
h3,
h4,
h5,
h6 {
	@include header-type-setting;
}

// font size
@each $level, $value in $font-size-scale {
    .font-size-#{$level} {
        font-size: $value;
    }
}

// text transform
.text-uppercase {
	text-transform: uppercase;
}
.text-lowercase {
	text-transform: lowercase;
}