.ter-card {
    background: $card-bg;
    position: relative;
    border-width: $card-border-width;
    border-style: solid;
    border-color: $card-border-color;
    border-radius: $card-border-radius;
    display: flex;
	flex-direction: column;
	box-shadow: $card-box-shadow;
    &[href] {
    	display: block;
    }
	&__body {
		font-size: $card-font-size;
		display: block;
		padding: spacing('md') spacing('sm');
		display: flex;
		flex: 1;
		flex-direction: column;
		p {
			font-size: $card-font-size;
		}
	}
	&__image {
		display: block;
		overflow: hidden;
		&--top {
			@include border-radius('top-left','none');
			@include border-radius('top-right','none');
			max-width: 100%;
		}
		&--left {
			@include border-radius('top-left','none');
			@include border-radius('bottom-left','none');
			max-width: 100%;
		}
		> img {
			width: 100%;
			height: auto;
		}
	}
}

.is-inverse {
	.ter-card {
		a, .link {
			color: $link-color;
			text-decoration: none;
			&:hover {
				color: $link-hover-color;
				text-decoration: none;
			}
		}
	}
}