/*

  Forms

*/

@mixin input-base() {
  font-size: $input-font-size;
  line-height: $input-height;
  height: $input-height;
  color: $input-text-color;
  box-sizing: border-box;
  padding: 0 spacing("xs");
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  border-width: $input-border-width;
  border-style: solid;
  border-color: $input-border-color;
  background-color: $input-bg;
  border-radius: $input-border-radius;
  box-sizing: border-box;
  .is-inverse & {
    color: $input-inverse-text-color;
    border-width: $input-border-width;
    border-style: solid;
    border-color: $input-inverse-border-color;
    background-color: $input-inverse-bg;
  }
}

.ter-input {
  padding: spacing("xxs") 0;
  &:first-child:not(:only-of-type) {
    padding-top: 0;
  }
  &:last-child:not(:only-of-type) {
    padding-bottom: 0;
  }
  &:only-of-type {
    padding-top: 0;
    padding-bottom: 0;
  }
  &__label {
    @include type-setting();
    font-size: $input-label-font-size;
    display: block;
    padding-bottom: spacing("mini");
    color: $input-label-color;
  }
  &__wrap {
    position: relative;
    i {
      position: absolute;
      top: 50%;
      right: 0.75rem;
      transform: translateY(-50%);
    }
    input[type="text"],
    input[type="email"],
    input[type="file"],
    input[type="password"],
    textarea {
      @include input-base();
      position: relative;
      z-index: 1;
      transition: box-shadow 200ms ease-in-out, border-color 200ms ease-in-out;
      &:focus {
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15);
        border-color: $input-focus-border-color;
      }
      &.input-lg {
        @include font-size("base");
      }
      &.input-sm {
        @include font-size("micro");
      }
      &::placeholder {
        color: $input-placeholder-color;
      }
      &:disabled {
        color: $input-disabled-color;
        border-color: $input-disabled-border-color;
        background: $input-disabled-bg;
        cursor: not-allowed;
      }
      &:focus {
        outline: none;
      }
      .has-error & {
        border-color: color("danger");
      }
      .has-success & {
        border-color: color("success");
      }
    }
    textarea {
      @include type-setting("base");
      display: block;
      width: 100%;
      min-height: 120px;
    }
  }
  &__message {
    @include type-setting("sm");
    display: block;
    .has-error & {
      color: color("danger");
    }
    .has-success & {
      color: color("success");
    }
  }
}

.ter-checkbox,
.ter-radio {
  padding-top: spacing("xxs");
  padding-bottom: spacing("xxs");
  box-sizing: content-box;
  &__label {
    @include type-setting();
    font-size: $input-label-font-size;
    display: block;
    padding-bottom: spacing("mini");
    color: $input-label-color;
  }
}

.ter-radio {
  input[type="radio"] {
    opacity: 0;
    height: 0;
    width: 0;
    &:checked + label:after {
      transform: scale(1, 1);
    }
    &:focus + label:before {
      outline: 0;
    }
  }
  &__label {
    @include type-setting();
    font-size: $input-label-font-size;
    position: relative;
    display: inline-block;
    padding-left: 22px;
    cursor: pointer;
    &:before,
    &:after {
      position: absolute;
      content: "";
      display: inline-block;
    }
    &:before {
      height: 12px;
      width: 12px;
      border: 1px solid $radio-border-color;
      left: 0px;
      top: 5px;
      border-radius: 50%;
    }
    &:after {
      height: 8px;
      width: 8px;
      left: 3px;
      top: 8px;
      background: $radio-fill-color;
      border-radius: 50%;
      transform: scale(0, 0);
      transition: transform 200ms ease-in-out;
    }
  }
}

.ter-checkbox {
  input[type="checkbox"] {
    opacity: 0;
    height: 0;
    width: 0;
    &:checked + label:after {
      transform: scale(1, 1);
    }
    &:focus + label:before {
      outline: 0;
    }
  }
  &__label {
    @include type-setting();
    font-size: $input-label-font-size;
    position: relative;
    display: inline-block;
    padding-left: 22px;
    cursor: pointer;
    &:before,
    &:after {
      position: absolute;
      content: "";
      display: inline-block;
    }
    &:before {
      height: 12px;
      width: 12px;
      border: 1px solid $checkbox-border-color;
      left: 0px;
      top: 5px;
    }
    &:after {
      height: 8px;
      width: 8px;
      left: 3px;
      top: 8px;
      background: $checkbox-fill-color;
      transform: scale(0, 0);
      transition: transform 200ms ease-in-out;
    }
  }
}

.ter-radio-group {
  padding-top: spacing("xxs");
  padding-bottom: spacing("xxs");
  &__label {
    @include type-setting();
    font-size: $input-label-font-size;
    padding-bottom: spacing("xxs");
  }
  .ter-radio {
    padding-top: spacing("none");
    padding-bottom: spacing("none");
  }
}

select {
  @include input-base();
  -webkit-appearance: none;
  position: relative;
  i {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
  }
}

.select-wrap {
  position: relative;
  &:after {
    content: "\f078";
    color: grayscale("light-2");
    font-family: Font awesome\5 Free;
    font-weight: 900;
    font-size: 0.75rem;
    position: absolute;
    right: spacing("xxs");
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;
    pointer-events: none;
    box-sizing: border-box;
  }
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0 0 spacing("sm") 0;
  border: 0;
  legend {
    margin-bottom: spacing("xs");
  }
}

.ter-search-bar {
  display: flex;
  &__input {
    flex: 1;
  }
  &__submit {
    @include input-base();
    width: initial;
    margin-left: 1px;
  }
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
}
.select-styled {
  @include input-base();
  display: block;
  width: initial;
  &:after {
    @include icon-base();
    content: "\ea3d";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: spacing("sm");
    color: $drodown-arrow-color;
    width: 8px;
    height: 8px;
    font-size: 8px;
  }
  &:hover {
  }
  &.active {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-color: $input-focus-border-color;
  }
}

.select-options {
  @include depth(1);
  border: $dropdown-border-size solid $dropdown-border-color;
  border-radius: $dropdown-border-radius;
  min-width: 12.5em;
  position: absolute;
  top: calc(100%);
  padding: spacing("xxs") 0;
  left: 0;
  float: left;
  text-align: left;
  list-style: none;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  background: $dropdown-bg;
  margin: 0;
  transition: transform 225ms, opacity 225ms, visibility 225ms;
  display: block;
  width: stretch;
  &.is-open {
    visibility: visible;
    opacity: 1;
    transform: translateY(1px);
  }
  &.drop-up {
    top: unset;
    bottom: calc(100%);
    transform: translateY(10px);
    &.is-open {
      transform: translateY(1px);
    }
  }
  &__wrap {
    max-height: 250px;
    overflow: scroll;
    width: stretch;
  }
  &__search-filter {
    position: relative;
    input {
      @include input-base();
      border: 0;
      background: transparent;
    }
    &:after {
      @include icon-base();
      content: "\f002";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: spacing("xs");
      color: neutral-color("gray-1");
    }
  }
  &__item {
    @include type-setting();
    font-size: $dropdown-item-font-size;
    color: $dropdown-link-color;
    padding: spacing("mini") spacing("xs");
    display: block;
    text-decoration: none;
    &:hover {
      color: darken($dropdown-link-color, 10%);
      background: $dropdown-link-hover-bg;
      text-decoration: none;
    }
  }
  [rel="hide"] {
    display: none;
  }
  &__no-results {
    cursor: default;
    color: neutral-color("gray-1");
    padding: spacing("mini") spacing("xs");
  }
}

.ter-fieldset {
  &__legend {
    @include type-setting();
    font-size: $fieldset-legend-font-size;
    font-weight: $fieldset-legend-font-weight;
  }
}
