/**
 * Terra Design System
 * _tree-menu.scss
 */

.ter-tree-menu {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		ul {
			padding: 0;
		}
	}
	&__list-item {
		@include type-setting();
		font-size: $tree-menu-font-size;
		position: relative;
		padding: 0;
		a,
		a:visited,
		a:active,
		a:focus {
			font-size: $tree-menu-font-size;
			color: $tree-menu-link-color;
			text-decoration: none;
			&:hover {
				color: $tree-menu-link-hover;
				cursor: pointer;
			}
		}
		&.is-active {
			> a {
				color: $tree-menu-link-hover;
			}
		}
		> a {
			@include border-radius('all','small');
			padding: spacing('micro') 0;
			display: block;
		}
		> span {
			padding: spacing('micro') 0;
		}
		ul {
			padding-left: spacing('xs')
		}
		&.is-expandable {
			> ul {
				display: none;
			}
			&.is-expanded {
				> a {
					color: $tree-menu-link-hover;
				}
				&:before {
					transform: rotate(90deg);
				}
			}
		}
		&.is-expandable.is-expanded {
			> ul {
				display: block;
			}
		}
	}
}